name: Deploy API Staging
on:
  push:
    branches:
      - main

env:
  IMAGE_NAME: asia-southeast1-docker.pkg.dev/nortezh/docker/collector

jobs:
  build:
    runs-on: ubuntu-latest
    name: Build
    steps:
      - uses: actions/checkout@v3
      - uses: google-github-actions/auth@v1
        id: auth
        with:
          credentials_json: ${{ secrets.GOOGLE_CREDENTIALS }}
          token_format: access_token
      - uses: docker/login-action@v1
        with:
          registry: asia-southeast1-docker.pkg.dev
          username: oauth2accesstoken
          password: ${{ steps.auth.outputs.access_token }}
      - uses: docker/setup-buildx-action@v2
      - uses: docker/build-push-action@v4
        with:
          context: .
          file: ./Dockerfile
          provenance: false
          push: true
          tags: ${{ env.IMAGE_NAME}}:${{ github.sha }}
  deploy:
    runs-on: ubuntu-latest
    name: Deploy
    needs: build
    steps:
      - uses: google-github-actions/auth@v1
        id: auth
        with:
          credentials_json: ${{ secrets.GOOGLE_CREDENTIALS }}
          token_format: access_token
          access_token_scopes: https://www.googleapis.com/auth/userinfo.email
      - uses: deploys-app/deploys-action@v1
        with:
          project: nortezh
          location: gke.cluster-rcf2
          name: api-stag
          image: ${{ env.IMAGE_NAME}}:${{ github.sha }}
        env:
          DEPLOYS_TOKEN: ${{ steps.auth.outputs.access_token }}
